@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #1e293b;
  --color-accent: #f59e0b;
  --font-sans: "Sora", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}
